/* -----------------------------
   BREADCRUMBS
----------------------------- */
.interviews-breadcrumb {
    font-family: "Playfair Display", serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.1px;
    margin: 20px 224px;
    padding: 20px 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
/* -----------------------------
   HERO SECTION
----------------------------- */
h1.invh{
    font-family: "Playfair Display", serif;
    font-size: 38px;
    letter-spacing: 1.1px;
    margin:15px 224px;
    font-weight:500;
}
/* -----------------------------
  AUTHOR SECTION
----------------------------- */
.inva {
    font-family: "Playfair Display", serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.1px;
    color: #000;
    margin: 10px 224px;
}
/* -----------------------------
  DATE SECTION
----------------------------- */
.invd {
    font-family: "Playfair Display", serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.1px;
    color: #000;
    margin: 10px 224px 15px;
}
/* -----------------------------
  SHORT INTRO SECTION
----------------------------- */
.single-interview-content {
    display: flex;
    margin: 10px 224px 10px;
    font-family: "Roboto Flex", serif;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1.2px;
    color: #333;
}


iframe {
    margin: 0px !important;
}